*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body{
    background: rgb(202,210,197);
    overflow: hidden;
  
}
.header{
    background: rgb(47,61,70);
}

.singleColumn{
    background:rgb(53,53,53);
    height: 72vh;
    margin-top: 3%;
    width: 20vw;
    margin-left: 3%;
    border-radius: 25px;
}
.giticon{
    font-size: 33px;
    color: rgb(255,254,254);
}
.content{
    font-size: 25px;
   color:rgb(255,254,254);
   letter-spacing: 3px;
}
.multiplecolumn{
    margin-top: 3%;
}
.secondColumn{
    margin-left: 8%;
    width: 60vw;
    height: 21vh;
    margin-bottom: 8%;
    
   
}
.firstColumn{
    margin-left: 20%;
    width: 92vw;
    margin-bottom: 6%;
    color:rgb(142,142,142);
}
.card0{
    background: rgb(53,53,53);
    padding: .5%;
    border-radius: 11px;
    letter-spacing: 3px;

   
}

.card1{
    background: rgb(53,53,53);
    /* padding: 1%; */
    border-radius: 11px;
   
}
.card2{
    background: rgb(53,53,53);
    margin-left: 10%;
    /* padding: 1%; */
    border-radius: 11px;
    
    
}
.card3{
    background: rgb(53,53,53);
    margin-left: 10%;
    /* padding: 1%; */
    border-radius: 11px;
}
.thirdColumn{
    width: 60vw;
    height: 23vh;
     margin-left: 8%;
    background:rgb(53,53,53);
    border-radius: 17px;
}
@media(Max-width:576px) {
   
    .content{
        font-size: 16px;
        letter-spacing: 3px;
    } 
    .giticon{
        font-size: 23px;
      
    } 
    .singleColumn{
        border-radius: 15px;
    }
    .thirdColumn{
        border-radius: 10px;
    }
    h6{font-size: 15px;
    
    }
    
   .singleColumn,.multiplecolumn{
    margin-top: 23%;
   }
   .singleColumn{
    height: 63vh;
    border-radius:10px;
   }
   .firstColumn{
    margin-bottom: 23%;
   }
   .secondColumn{
    margin-bottom: 29%;
   }
   .thirdColumn{
    width: 60vw;
    height: 15vh;
   }
   .card2,.card1,.card3{
   
    padding: 2px; 

   }
}

